/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #020202;
    color: #ffffff;
}

/* Стили для шапки сайта */
header {
    background-color: #da1ff8;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Стили для основного контента */
main {
    padding: 35px;
    text-align: center;
}

h1 {
    color: #af4cad;
    font-size: 1.5em;
}

section {
    margin-bottom: 20px;
    font-size: 1em;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
